@{
    Layout = "_ConfigurePlugin";
}

@model Nop.Plugin.Tax.TaxJar.Models.TaxTaxJarModel

<form asp-controller="TaxTaxJar" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiToken" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiToken" />
                        <span asp-validation-for="ApiToken"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TestAddress.CountryId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="TestAddress.CountryId" asp-items="Model.TestAddress.AvailableCountries" />
                        <span asp-validation-for="TestAddress.CountryId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TestAddress.City" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestAddress.City" />
                        <span asp-validation-for="TestAddress.City"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TestAddress.Zip" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestAddress.Zip" />
                        <span asp-validation-for="TestAddress.Zip"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="test" class="btn btn-primary" value="@T("Plugins.Tax.TaxJar.Testing")" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="white-space: pre-line">
                        @Html.Raw(Model.TestingResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
